<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/icon/icon.png}" type="image/x-icon">
  </head>
  <body>
    <h1 class="title">Ecco i nostri contatti</h1>

    <div class="container">
      <div class="contatto">
        <h3>Diaferio Samuele <span class="contatti-roulo">(Programmatore)</span></h3>
        <h6 class="contatti-roulo">(contattare in caso di problemi o bug)</h6>
        <a href="mailto:diaferiosamuele@gmail.com" class="email">diaferiosamuele@gmail.com</a>
      </div>
    </div>

    <div class="footer-link-container">
      <a th:href="@{info}" class="footer-link">Vai alle info</a>
      <a th:href="@{games}" class="footer-link">Vai ai giochi</a>
    </div>

    <script th:src="@{/js/main.js}"></script>
  </body>
</html>
