<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/icon/icon.png}" type="image/x-icon">
  </head>
  <body>
    <h1 class="title">Ecco i nostri contatti</h1>

    <div class="container">
      <ul class="elenco">
        <li th:each="contatto:${contatti}">
          <div class="contatto">
            <h3 th:utext="${contatto.getName()} + ' <span class=\'contatti-roulo\'>(' + ${contatto.getRole()} + ')</span>'"></h3>
            <h6 th:text="'(' + ${contatto.getExtra()} + ')'" class="contatti-roulo"></h6>
            <a th:href="'mailto:' + ${contatto.getEmail()}" class="email" th:text="${contatto.getEmail()}"></a>
          </div>
        </li>
      </ul>
    </div>

    <div class="footer-link-container">
      <a th:href="@{info}" class="footer-link">Vai alle info</a>
      <a th:href="@{games}" class="footer-link">Vai ai giochi</a>
    </div>

    <script th:src="@{/js/main.js}"></script>
  </body>
</html>
