<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Giochi</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/icon/icon.png}" type="image/x-icon">
  </head>
  <body>
    <h1 class="title">Giochi</h1>

    <button class="settings-btn" onclick="openSettings()">
      <img th:src="@{/icon/impostazioni.png}" alt="impostazioni">
      <span class="hidden">Impostazioni</span>
    </button>

    <ul class="elenco">
      <li th:each="game:${games}">
        <div class="container">
          <h2 th:text="${game.getTitle()}"></h2>
          <p th:text="${game.getDescription()}"></p>
          <a th:href="@{/game/{id}(id=${game.getId()})}">visualizza</a>
        </div>
      </li>
    </ul>

    <div class="footer-link-container">
      <a th:href="@{info}" class="footer-link">Vai alle info</a>
      <a th:href="@{contatti}" class="footer-link">Vai ai contatti</a>
    </div>

    <script th:src="@{/js/main.js}"></script>
  </body>
</html>
